* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
section.landing {
  background: url("http://36.media.tumblr.com/95f5df495c2860468df6955b5d7eaa0a/tumblr_nqx90nZCtb1tubinno1_1280.jpg") no-repeat;
  background-position: cover;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
section.landing header {
  height: auto;
  margin-bottom: 50px;
}
section.landing header nav {
  float: right;
}
section.landing header nav ul li {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 700;
  padding: 0.5em;
}
section.landing header nav ul li a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}
section.landing header nav ul li a:hover {
  border-bottom: 4px solid #7dcd40;
}
section.landing article.dina {
  height: 250px;
}
section.landing article.dina h2.typed {
  color: #fff;
  font-size: 3em;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
section.landing article.formulario {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3em 2em;
}
section.landing article.formulario h2 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
section.landing article.formulario form input {
  color: #000;
  font-size: 16px;
  height: 37px;
  margin: 10px 0;
}
@media screen and (max-width: 600px) {
  h2.typed {
    font-size: 1.5em !important;
  }
  article.dina {
    height: 170px !important;
  }
}
